@font-face {
    font-family: Holbeard;
    src: url('./font/Web-PS/Holbeard\ Credit.woff2');
  }  

body {
    background-color: black;
    color: white;
    font-family: Holbeard;
    background: url('./imgs/nitesky.jpeg') no-repeat center;
    background-size: cover;
    height: 100vh;
    cursor: none;    
    margin: 0;
}

html {
    background-color: black;
}

::-moz-selection { /* Code for Firefox */
    color: yellow;
    background: black;
  }
  
  ::selection {
    color: yellow;
    background: black;
  }

main {
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 200px;
    font-weight: 100px;
    margin: 0;
}

.credits {
    margin: 0 20vh;
    max-width: 1000px;
}

span {
    color: violet;
}

h3 {
    /* margin-top: 8vh; */
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 64px;
    margin-bottom: 0;
}

.credits ul, p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    color: #888;
    text-transform: uppercase;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */   
}

li {
    display: inline-block;
}


li::after {
    content: ' • ';
}

li:last-child:after {
    content: '';
}

.litebox {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(
        circle,
        transparent 50px,
        rgba(0, 0, 0, 0.25) 50px
    );
}

img {
    max-width:60%;
    max-height:60%;
    filter: grayscale(100%);
}

.grid {
    max-width: 1000px;
    margin: 10vh auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    > div {
      background: black;
      padding: 1rem;
      position: relative;
      &::before {
        // for apsect ratio
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      img {
        position: absolute;
  
        // Alternate Version
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
  }


/* MOBILE */

@media only screen and (max-width: 600px) {
    li::after {
        content: '';
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        margin-top: 20vh;
    }
    .grid {
        margin-left: 0;  
        margin-right: 0;        
        margin-top: 10vh;   
    }
    .credits {
        margin: 5vh;
    }
    li {
        display: block;
    }
}

/* iphone X series */

@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2),
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3),
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
        h1 {
            margin-top: 20vh;
        }
        .grid {
            margin-left: 0;  
            margin-right: 0;        
            margin-top: 10vh;   
        } 
        .credits {
            margin: 5vh;
        }  
        li {
            display: block;
        }             
    }


